 /* .product_container {
   display: flex;
   width: 300px;
   height: 400px;
   border: 1px solid black;
   border-radius: 33px;
   margin: 5px;
   align-items: center;
   flex-direction: column;
 }
 
 .img_style {
    width: 250px;
    height: 250px;
 } */



.root {
  max-width: 345;
}

.media {
  height: 0;
  padding-top: 56.25%; /* Remove quotes */
}


