.container_products {
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
.product {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 20px;
}
.product_card:hover {
  width: 320px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}

.img_card {
  width: auto;
  height: 250px;
  color: wheat;
}
