.category_container {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.category_card {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.img_card_category {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
