.category_container {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.category_card {
  width: 200px;
  height: 200px;
  margin: 20px 20px 30px 20px;
}

.img_card_category {
  width: 11rem;
  height: 11rem;
  border-radius: 20%;
  border: solid black 1px;
}

.img_card_category:hover {
  width: 12rem;
  height: 12rem;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
}
.Top5 {
  margin-top: 50px;
  color: blue;
}
