.product_details_container {
    width: 700px;
    height: 600px;
    border: 1px solid black;
    border-radius: 33px;
    margin: 5px;
    align-items: center;
}
      
.img_style {
    width: 250px;
    height: 250px;
}

.product_img {
    height: 250px;
    width: 250px;
}
     
